.event-com-scrollable {
    margin: 10px 5px 5px 5px;
    width: 300px; /* Adjust width as needed */
    height: 150px; /* Adjust height as needed */
    overflow-y: scroll; /* Enable vertical scrolling */
    white-space: nowrap; /* Keep items in a single line */
    scroll-behavior: smooth; /* Enable smooth scrolling */
  }
  
  .event-com-single {
    width: 100%; /* Occupy full width */
    height: 60px; /* Adjust height as needed */
    margin-bottom: 10px; /* Adjust space between events */
    background-color: #ccc; /* Just for demonstration */
  }