.cart-content {
    display: flex;
    background-color: #f4f4f4;
    margin: 100px 50px;

  }
  
  .cart-content .left-column {
    width: 75%;
    
    padding: 15px;
    
  }
  
  .cart-content .right-column {
    width: 25%;
   margin-top: 15px;
    
  }

  /*Right section*/
  .summary-section {
    padding: 25px 15px 25px 15px;
    background: #fff;
  }

  .summary-section-heading {
    font-size: 18px;
    color: #212121;
    margin-bottom: 20px;
    position: relative;
    font-weight: 500;
  }

  .summary-section:last-child .summary-section-content {
    border-bottom: none;
  }

  .checkout-summary-rows {
    margin-bottom: 15px;
  }

  .checkout-summary{
    margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue',Helvetica,Tahoma,Arial,Sans-serif;
  }

  .checkout-summary-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .checkout-summary-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .checkout-summary-label {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    font-size: 14px;
    color: #757575;
    letter-spacing: 0;
    line-height: 21px;
  }

  .checkout-summary-value {
    font-size: 16px;
    line-height: 21px;
    text-align: right;
    color: #202020;
    letter-spacing: -.44px;
    vertical-align: middle;
  }

  .checkout-summary-value {
    font-size: 16px;
    line-height: 21px;
    text-align: right;
    color: #202020;
    letter-spacing: -.44px;
  }

  

.checkout-summary-noline-value {
  margin-right: 5px;

}

.voucher-input {
  margin-bottom: 10px;
  margin-left: 0;
}

.voucher-input-inner {
  display: table;
  width: 100%;
  margin-bottom: 25px;

}


.voucher-input-col:first-child {
  padding-right: 1px;

}

.voucher-input-col {
  display: table-cell;
  vertical-align: middle;
}


.voucher-input-container {
  display: inline-table;
  border-collapse: separate;
}

.voucher-inputfield{
  padding: 10px 15px 10px 10px;
  
}


.checkout-order-total {
  margin-top: 10px;
}

.checkout-order-total-row {
  display: table;
  width: 100%;
  margin-bottom: 16px;
}

.checkout-order-total-title {
  display: table-cell;
  font-size: 14px;
  color: #202020;
  line-height: 16px;
}

.checkout-order-total-fee {
  display: table-cell;
  font-size: 18px;
  color: #f57224;
  text-align: right;
}

.voucher-input-button {
  background-color: #25a5d8;
  border: none;
  height: auto;
  line-height: 40px;
  width: 125px;
  
  background-color: #1a9cb7;
  color: #fff;
  
  text-transform: uppercase;
  padding: 0;
}
[type="reset"], [type="submit"], button, html [type="button"] {
  -webkit-appearance: button;
}
.voucher-input-button {

}


.checkout-order-total-button {
  width: 100%;
  height: 45px;
  margin-bottom: 15px;
  color: #fff;
  background-color: #4438a2;
}

/*Left container*/


.list-header {
  background-color: #fff;
  margin-bottom: 12px;
}

.list-header-main, .list-header .list-header-container {

  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}
.list-header .list-header-container {
  height: 40px;
  font-size: 12px;
  line-height: 14px;
  color: #757575;
}

.list-header-main {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  line-height: 40px;
  padding-left: 12px;
  padding-right: 12px;
  text-transform: uppercase;
}

.list-header-main .list-header-checkbox {
  margin-right: 16px;
}

.next-checkbox .next-checkbox-inner {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 2px;
  border: 1px solid #757575;
  transition: all .3s ease 0s;
  text-align: left;
}


[type="checkbox"], [type="radio"], legend {
  padding: 0;
  box-sizing: border-box;
}

.list-header-main .list-header-operations, .list-header-main .list-header-operations .btn-wrap {

  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.list-header-main .list-header-operations {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.list-header-main {
  line-height: 40px;
  text-transform: uppercase;
}
.list-header .list-header-container {
  font-size: 12px;
  line-height: 14px;
  color: #757575;
}

.list-header-main .list-header-operations .btn-wrap {
  cursor: pointer;
}
.list-header-main {
  line-height: 40px;
  text-transform: uppercase;
}
.list-header .list-header-container {
  font-size: 12px;
  line-height: 14px;
  color: #757575;
}

.cart-item {
  margin-top: 10px;
  width: 100%;
  padding: 16px 10px 35px 10px;
  background-color: #fff;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  
}

.cart-item-inner {
  width: 100%;
  display: table;
}

.cart-item-left {
  display: table-cell;
  vertical-align: top;
}
.cart-item-left {
  display: table-cell;
  vertical-align: top;
  width: calc(100% - 156px - 139px);
  padding-left: 10px;
}

.cart-item .cart-item-checkbox {
  float: left;
  margin-right: 16px;
  margin-top: 32px;
}
.next-checkbox, .next-checkbox *, .next-checkbox ::after, .next-checkbox ::before {
  box-sizing: border-box;
}
.next-checkbox {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 16px;
  height: 16px;
  line-height: 14px;
}
.next-checkbox.checked .next-checkbox-inner {
  border-color: #f57224;
  background-color: #f57224;
}
.next-checkbox .next-checkbox-inner {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: transparent;
    background-color: transparent;
  border-radius: 2px;
  border: 1px solid #757575;
    border-top-color: rgb(117, 117, 117);
    border-right-color: rgb(117, 117, 117);
    border-bottom-color: rgb(117, 117, 117);
    border-left-color: rgb(117, 117, 117);
  transition: all .3s ease 0s;
  text-align: left;
}

.next-checkbox.checked .next-checkbox-inner > .next-icon {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
  transform: scaleX(1);
  margin-left: 1px;
}

.next-checkbox input[type="checkbox"] {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  margin: 0;
}
[type="checkbox"], [type="radio"], legend {
  padding: 0;
  box-sizing: border-box;
}.cart-item-left .img-wrap {
  position: relative;
  float: left;
  width: 80px;
  height: 80px;
  margin-right: 55px;
}
.cart-item-left  {
  width: 80px;
  height: 80px;
}


.img-wrap img{
  width: 100px;
   height: 100px;
   margin-right: 10px;
}

img {
  border-style: none;
}
img, input {
  vertical-align: middle;
}


.cart-item-left .cart-product-desc {
  display: inline-block;
  width: 328px;
  position: relative;
}

.cart-item-left .cart-product-desc .title {
  display: block;
  width: 100%;
  max-height: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 0;
  font-size: 14px;
  color: #212121;
  line-height: 16px;
}

.cart-item-left .cart-product-desc .sku {
  display: block;
  margin-top: 6px;
  font-size: 12px;
  line-height: 16px;
  color: #757575;
}

.cart-item-left .cart-product-desc .cart-product-name {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cart-item-middle {
  display: table-cell;
  vertical-align: top;
  width: 156px;
  padding-left: 9px;
}

.cart-item-middle .current-price {
  font-size: 18px;
  line-height: 28px;
  color: #f57224;
  font-weight: 500;
  margin-bottom: 4px;
}
.cart-item-middle .origin-price {
  font-size: 14px;
  line-height: 16px;
  color: #757575;
  margin-bottom: 8px;
  text-decoration: line-through;
}

.cart-item-middle .promotion-ratio {
  font-size: 14px;
  line-height: 16px;
  color: #212121;
  font-weight: 500;
}

.cart-item .cart-item-right {
  vertical-align: top;
}
.cart-item-right {
  display: table-cell;
  vertical-align: bottom;
  padding-right: 40px;
}
.cart-item-right {
  display: table-cell;
  vertical-align: top;
  width: 139px;
  text-align: right;
  padding-right: 20px;
}

.cart-item-right .quantity {
  text-align: right;
  vertical-align: middle;
  font-size: 16px;
  line-height: 28px;
  color: #212121;
}
.next-number-picker {
  color: #212121;
  font-family: Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,Sans-serif;
  font-size: 14px;
  line-height: 1.28571;
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.next-number-picker-inline .next-number-picker-handler-wrap {
  width: 108px;
  margin-left: 0;
}
.next-number-picker-inline .next-number-picker-handler-wrap, .next-number-picker-inline .next-number-picker-input-wrap {
  position: relative;
  float: left;
}
.next-number-picker-handler-wrap {
  float: right;
  margin-left: 2px;
  position: relative;
  transition: all .2s;
}

.next-number-picker-inline .next-number-picker-handler-wrap .next-number-picker-handler-up {
  float: right;
}
.next-number-picker-inline .next-number-picker-handler-wrap .next-number-picker-handler {
  width: 32px;
  height: 32px;
  border-radius: 0;
  margin: 0;
}
.next-number-picker-handler-wrap .next-number-picker-handler-up {
  margin-bottom: 2px;
}
.next-number-picker-handler-wrap .next-number-picker-handler {
  text-align: center;
  cursor: pointer;
  line-height: 0;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  transition: all .2s;
  display: block;
  border: 4px solid transparent;
  color: #9e9e9e;
  background-color: #eff0f5;
}

.next-number-picker-inline .next-number-picker-handler-wrap .next-number-picker-handler-down-inner, .next-number-picker-inline .next-number-picker-handler-wrap .next-number-picker-handler-up-inner {
  line-height: 24px;
}
.next-number-picker-handler-down-inner, .next-number-picker-handler-up-inner {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  display: block;
  transition: line-height .2s;
  line-height: 11px;
}

.next-icon {
  position: relative;
  display: inline-block;
  font-family: NextIcon;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .1px;
  -moz-osx-font-smoothing: grayscale;
}


.next-number-picker-inline .next-number-picker-handler-wrap .next-number-picker-handler {
  width: 32px;
  height: 32px;
  border-radius: 0;
  margin: 0;
}
.next-number-picker-handler-wrap .next-number-picker-handler {
  text-align: center;
  cursor: pointer;
  line-height: 0;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  transition: all .2s;
  display: block;
  border: 4px solid transparent;
  color: #9e9e9e;
  background-color: #eff0f5;
}

.next-number-picker-inline .next-number-picker-handler-wrap .next-number-picker-handler-down-inner, .next-number-picker-inline .next-number-picker-handler-wrap .next-number-picker-handler-up-inner {
  line-height: 24px;
}
.next-number-picker-handler-down-inner, .next-number-picker-handler-up-inner {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  display: block;
  transition: line-height .2s;
  line-height: 11px;
}
.next-number-picker-inline .next-number-picker-input-wrap {
  margin-left: -76px;
}
.next-number-picker-inline .next-number-picker-handler-wrap, .next-number-picker-inline .next-number-picker-input-wrap {
  position: relative;
  float: left;
}
.next-number-picker-input-wrap {
  overflow: hidden;
  float: left;
}
.cart-item-number-picker .next-number-picker-input {
  border-color: transparent;
}
.next-input.next-input-single {
  border-color: #e5e5e5;
  border-radius: 4px;
}
.next-number-picker-inline .next-number-picker-input {
  width: 44px;
}
.next-number-picker-inline .next-number-picker-input input {
  line-height: 22px;
  height: 30px;
}
.next-number-picker-input-wrap .next-number-picker-input input {
  margin: 0;
  padding: 0;
  font-size: 14px;
  text-align: center;
}
.next-input.next-input-single input {
  color: #212121;
}
.next-input-medium input {
  border-radius: 0;
}
.next-input-medium input {
  height: 38px;
  line-height: 38px ï¿½;
  margin: 0;
  padding: 0 8px;
  font-size: 14px;
}
.next-input input, .next-input textarea {
  width: 100%;
  border: none;
  outline: none;
  padding: 0;
  font-weight: 400;
  vertical-align: baseline;
  background-color: transparent;
}
.cart-item .cart-item-checkbox {
  float: left;
  margin-right: 16px;
  margin-top: 32px;
}
