.cart-content {
    display: flex;
    background-color: #f4f4f4;
    margin: 100px 50px;

  }
  
  .cart-content .left-column {
    width: 75%;
    
    padding: 15px;
    
  }
  
  .cart-content .right-column {
    width: 25%;
   margin-top: 15px;
    
  }

  /*Right section*/
  .summary-section {
    padding: 25px 15px 25px 15px;
    background: #fff;
  }

  .summary-section-heading {
    font-size: 18px;
    color: #212121;
    margin-bottom: 20px;
    position: relative;
    font-weight: 500;
  }

  .summary-section:last-child .summary-section-content {
    border-bottom: none;
  }

  .checkout-summary-rows {
    margin-bottom: 15px;
  }

  .checkout-summary{
    margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue',Helvetica,Tahoma,Arial,Sans-serif;
  }

  .checkout-summary-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .checkout-summary-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .checkout-summary-label {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    font-size: 14px;
    color: #757575;
    letter-spacing: 0;
    line-height: 21px;
  }

  .checkout-summary-value {
    font-size: 16px;
    line-height: 21px;
    text-align: right;
    color: #202020;
    letter-spacing: -.44px;
    vertical-align: middle;
  }

  .checkout-summary-value {
    font-size: 16px;
    line-height: 21px;
    text-align: right;
    color: #202020;
    letter-spacing: -.44px;
  }

  

.checkout-summary-noline-value {
  margin-right: 5px;

}

.voucher-input {
  margin-bottom: 10px;
  margin-left: 0;
}

.voucher-input-inner {
  display: table;
  width: 100%;
  margin-bottom: 25px;

}


.voucher-input-col:first-child {
  padding-right: 1px;

}

.voucher-input-col {
  display: table-cell;
  vertical-align: middle;
}


.voucher-input-container {
  display: inline-table;
  border-collapse: separate;
}

.voucher-inputfield{
  padding: 10px 15px 10px 10px;
  
}


.checkout-order-total {
  margin-top: 10px;
}

.checkout-order-total-row {
  display: table;
  width: 100%;
  margin-bottom: 16px;
}

.checkout-order-total-title {
  display: table-cell;
  font-size: 14px;
  color: #202020;
  line-height: 16px;
}

.checkout-order-total-fee {
  display: table-cell;
  font-size: 18px;
  color: #f57224;
  text-align: right;
}

.voucher-input-button {
  background-color: #25a5d8;
  border: none;
  height: auto;
  line-height: 40px;
  width: 125px;
  
  background-color: #1a9cb7;
  color: #fff;
  
  text-transform: uppercase;
  padding: 0;
}
[type="reset"], [type="submit"], button, html [type="button"] {
  -webkit-appearance: button;
}
.voucher-input-button {

}


.checkout-order-total-button {
  width: 100%;
  height: 45px;
  margin-bottom: 15px;
  color: #fff;
  background-color: #4438a2;
}

/*Left container*/

.cart-container{
 
  height: auto;
}
.list-header {
  background-color: #fff;
  margin-bottom: 12px;
}

.list-header-main, .list-header .list-header-container {

  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}
.list-header .list-header-container {
  height: 40px;
  font-size: 12px;
  line-height: 14px;
  color: #757575;
}

.list-header-main {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  line-height: 40px;
  padding-left: 12px;
  padding-right: 12px;
  text-transform: uppercase;
}

.list-header-main .list-header-checkbox {
  margin-right: 16px;
}


.cart-container .shopping-cart {
  width: 100%;
  
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
 
  display: flex;
  flex-direction: column;
}

.cart-container .title {

  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: #5E6977;
  font-size: 18px;
  font-weight: 400;
}
 
.cart-container .item {
  margin: 5px 0 5px 0;
  background: #FFFFFF;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-between; 
  align-items: center; 
  padding: 20px 30px;

}


/* Style each column */
.item-column {

}

.item .image{
  height: 100px;
  width: 100px;
  margin-left: 5px;
  
}
.item .description{
  width: 400px;
  margin-right: 10px;
}

.item .quantity{
  display: flex;
  margin: auto;
}

.quantity span{
  margin: 0 5px 0 5px;
}
.item .increase-btn, .decrease-btn{
  cursor: pointer;
  height: 20px;
}

.increase-btn:hover, .decrease-btn:hover{
  cursor: pointer;
  color: #f57224;
}

.quantity input{
  width: 40px;
  text-align: center;
}

.item .product-price{
  text-align: center;
}

.item .delete-btn{
  margin-left: 50%;
  
}

.item .delete-btn:hover{
  color: #f52424;
  cursor: pointer;
}